/*CSS customization for revelframework.com */

@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

a, a:hover {
	color: #3498db;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar {
	margin-bottom: 0;
}

.revel-name-hdr, .revel-name-banner {
	font-family: 'Lily Script One', cursive;
}

.revel-name-hdr {
	font-size: 1.4em;
}

.revel-name-banner {
	font-size: 5.5em;
	font-weight: bold;
}

.jumbotron {
	background-color: #18bc9c;
	color: #fff;
	margin-bottom: 0;
}

.footer {
  background-color: #f5f5f5;
  font-size: 13px;
  padding-top: 2%;
	padding-bottom: 2%;
}
.footer .text-muted {
  margin: 20px 0;
  color: #7F8E98;
}
.footer > .container {
  padding-right: 3.3%;
  padding-left: 3.3%;
}

.footer > .container a {
	color:inherit;
}

.footer > .container a:hover {
	color: #3498db;
}

.footer .credits-note {
	padding-left: 5px;
	font-size: 12px;
}

.footer .revel-version {
	font-size: 12px;
}

@media (min-width: 768px) {
	.navbar {
    border-radius: 0;
	}

	.container-fluid {
    padding-left: 7%;
    padding-right: 7%;
	}

	.page-container {
    padding-left: 3.3%;
    padding-right: 3.3%;
	}


	.nav-revel-btn-align {
		padding-top: 20px;
	}

	.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
	}

}

.release-info {
	font-size: 20px;
	margin-top: 80px;
}

.release-info > .version {
	font-size: 18px;
	padding-left: 7px;
}

.release-info > .min-go-version {
	font-size: 16px;
	margin-top: 3px;
	padding-left: 7px;
}

.features {
	margin-top: 2%;
	margin-bottom: 2%;
}

.features .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.features h2 {
  font-weight: normal;
}

.features .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
	text-align: justify;
}

.user-sidebar {
  background: #fff;
  /*text-align: center;*/
}

.user-side-menu {
  margin-top: 10%;
}

.user-side-menu ul li {
  border-bottom: 1px solid #dce4ec;
}

.user-side-menu ul li:last-child {
  border-bottom: none;
}

.user-side-menu ul li a {
  color: #2c3e50;
  font-size: 14px;
  font-weight: 400;
}

.user-side-menu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.user-side-menu ul li a:hover {
  background-color: #f5f5f5; /*#2c3e50;*/
  color: #2c3e50;
}

.user-side-menu ul li.active {
  border-bottom: none;
}

.user-side-menu ul li.active a {
  color: #fff;
  background-color: #2c3e50; /*#f5f5f5;*/ /*#2c3e50;*/
  font-weight: 600;
  /*border-left: 3px solid #F39C12;
  margin-left: -3px;*/
}

.user-side-menu .user-side-menu-head {
  padding: 10px 20px 10px 16px;
  background-color: #18BC9C;
  color: #fff;
  border: 0;
	font-weight: bold;
}
