/*CSS customization for revelframework.com */

a, a:hover {
	color: #3498db;
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar {
	margin-bottom: 0;
}

.jumbotron {
	background-color: #18bc9c;
	color: #fff;
	margin-bottom: 0;
}

.footer {
  background-color: #f5f5f5;
  font-size: 13px;
  padding-top: 2%;
	padding-bottom: 2%;
}
.footer .text-muted {
  margin: 20px 0;
  color: #7F8E98;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer > .container a {
	color:inherit;
}

.footer > .container a:hover {
	color: #3498db;
}

.footer .credits-note {
	padding-left: 5px;
	font-size: 12px;
}

.footer .revel-version {
	font-size: 12px;
}

@media (min-width: 768px) {
	.navbar {
    border-radius: 0;
	}

	.container-fluid {
    padding-left: 7%;
    padding-right: 7%;
	}

	.nav-revel-btn-align {
		padding-top: 20px;
	}

	.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
	}

}

.release-info {
	font-size: 20px;
	margin-top: 80px;
}

.release-info > .version {
	font-size: 18px;
	padding-left: 7px;
}

.release-info > .min-go-version {
	font-size: 16px;
	margin-top: 3px;
	padding-left: 7px;
}

.features {
	margin-top: 2%;
	margin-bottom: 2%;
}

.features .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.features h2 {
  font-weight: normal;
}

.features .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
	text-align: justify;
}
