{{set . "title" "Home - Revel Framework"}}
{{template "header.html" .}}

<header class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5" style="text-align:center;">
        <img src="/public/img/revel-grey-banner.png" width="250">
      </div>
      <div class="col-md-7">
        <h1 class="revel-name-banner">Revel</h1>
        <small style="font-size:20px;">A high-productivity web framework for the Go language.</small>
        <div class="release-info">
          <small class="bold">Latest Release:</small><br>
          <span class="version">v{{.revelVersion}} on {{.revelBuildDate}}</span><br>
          <span class="min-go-version">{{.revelMinimumGoVersion}} required</span>
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</header>

<div class="container features">

  <div class="row">
    <div class="col-lg-4">
      <h2>Hot Code Reload</h2>
      <p>
        Edit, save, and refresh.  Revel compiles your code and templates for you, so you don't miss a beat.  Code doesn't compile?  It gives you a <a href="img/CompilationError.png">helpful description</a>. Run-time code panic?  Revel <a href="img/Panic.png">has you covered</a>.
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Comprehensive</h2>
      <p>
        Revel provides
        <a href="manual/routing.html">routing</a>,
        <a href="manual/parameters.html">parameter parsing</a>,
        <a href="manual/validation.html">validation</a>,
        <a href="manual/sessionflash.html">session/flash</a>,
        <a href="manual/templates.html">templating</a>,
        <a href="manual/cache.html">caching</a>,
        <a href="manual/jobs.html">job running</a>,
        <a href="manual/testing.html">a testing framework</a>,
        and even <a href="manual/i18n-messages.html">internationalization</a>.
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>High Performance</h2>
      <p>
        Revel builds on top of the Go HTTP server, which was <a href="http://www.techempower.com/benchmarks/#section=data-r11">recently benchmarked</a> to serve <b>three to ten times</b> as many requests as Rails across a variety of loads.
      </p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-lg-4">
      <h2>Asynchronous</h2>
      <p>
        The <a href="http://golang.org/pkg/net/http/">Go HTTP server</a> runs each request in its own <a href="http://golang.org/doc/effective_go.html#goroutines">goroutine</a>. Write simple callback-free code without guilt.
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Stateless</h2>
      <p>
        Revel provides primitives that keep the web tier stateless for predictable scaling. For example, <a href="manual/sessionflash.html#Session"><b>session</b></a> data is stored in the user cookie, and the <a href="manual/cache.html"><b>cache</b></a> is backed by a memcached cluster, redis or in-memory.
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Modular</h2>
      <p>
        Revel is built around composable middleware called <a href="manual/filters.html"><b>filters</b></a>, which implement nearly all request-processing functionality. Developers have the freedom to replace the default filters with custom implementations (e.g. a custom router).
      </p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

</div> <!-- /.container -->

{{template "footer.html" .}}
