    <footer class="footer">
      <div class="container">
  			<p>
          <i class="fa fa-copyright fa-fw"></i> 2016 Revel Framework, <a rel="nofollow" href="https://github.com/revel/revel/blob/master/LICENSE">MIT License</a>.
          <span class="pull-right">Content is available under <a rel="nofollow" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>
          </span>
        </p>
  			<p class="text-center revel-version">
          Build version revel {{.revelVersion}}<br>
          Gopher images remixed from those produced by <a href="https://golang.org/" target="_blank"> Go team</a>.
        </p>
  		</div>
    </footer>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {{noescape `<!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->`}}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
