{{ if .Page.Github }}
<div class="revel-github-bar">
  <h6>GitHub Labels</h6>
  <ul>
    <li><b>Issues: </b> 
      {{range $i, $lbl := .Page.Github.Labels }}
      <a href="https://github.com/revel/revel/labels/{{$lbl}}" target="_revel_issues">{{$lbl}}</a>
      {{ if $i }}|{{ end }}
      {{ end }}
    </li>
    <li><b>Pull Requests: </b> 
      {{ range $i, $lbl := .Page.Github.Labels }}
      <a href="https://github.com/revel/revel/pulls?q=is%3Apr+is%3Aopen+label%3A{{$lbl}}" target="_revel_pull_requests">{{$lbl}}</a>
      {{ if $i }}|{{ end }}
      {{ end }}
    </li>
  </ul>
</div>
{{ end }}

